Django==5.0.6
psycopg2-binary==2.9.9
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.2
Pillow==12.2.0
python-dotenv==1.0.1

# Social auth
google-auth==2.30.0
requests==2.32.3

# Async + cache
celery==5.4.0
redis==5.0.7
django-redis==5.4.0
django-celery-beat==2.6.0

# Production server
gunicorn==22.0.0

# API documentation
drf-spectacular[sidecar]==0.27.2

# Admin UI
django-jazzmin==3.0.1

# PDF generation
reportlab==4.2.5

# Testing
pytest==8.2.2
pytest-django==4.8.0
pytest-cov==5.0.0
factory-boy==3.3.0
Faker==25.0.0
freezegun==1.5.1
